.searchTeams input {
    display: flex;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .searchTeams {
    width: 100vw;
    position:relative;
  
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
  }
  